<div class="userdashboard-container">
    <div class="logout">
        <button>Sair</button>
    </div>

    <h1>Olá, Luana Paes!</h1>

    <main>
        <div class="emprestimos-atuais">
            <h2>Emprestimos Atuais</h2>

            <div class="emprestimos">
                @if (arrayEmprestimos.length > 0) {
                 @for (emprestimo of arrayEmprestimos; track emprestimo) {
                   <app-emprestimo-card
                    [nomeBook]="emprestimo.book_name"
                    [dataInicialEmprestimo]="emprestimo.data_emprestimo"
                   ></app-emprestimo-card>
                 }
                }
            </div>
        </div>
    </main>
</div>
