<div>
    <h1>Gerenciamento dos Leitores</h1>

    <main>
        <h2>Há {{qtdLeitores()}} cadastrados</h2>
        <div class="container-leitores">

            
            @for (leitor of leitores; track leitor) {
                <app-leitor-panel
                 [nome_completo]="leitor.nome_completo"
                 [email]="leitor.email"
                 [numero_contato]="leitor.numero_contato"
                 [livros_emprestados]="leitor.livros_emprestados"
                ></app-leitor-panel>
            }

        </div>
    </main>
</div>
