@import '../../../shared/styles/variables.scss';

.sidenav-container {
    position: relative;
    z-index: 100;
}

.toggle-btn {
    margin: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    i {
        color: $primary-color;
        font-size: 1.5em;
    }
}

.sidenav {
    position: fixed;
    top: 138.5px;
    left: -250px;
    width: 220px;
    height: 600px;
    background-color: $primary-color;
    padding-top: 10px 60px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    color: #e4dac2;

    div {
        display: flex;
        justify-content: end;
        padding: 10px 20px 0 0;

        button {
            width: 30%;
            cursor: pointer;
            background-color: transparent;
            border: none;

            i{
                color: #e4dac2;
                font-size: 1.5em;
            }
        }
    }
}

.sidenav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #e4dac2;

    border-bottom: 1px solid #cac1ac62;
    height: 5vh;
    width: 10vw;
    display: flex;
    align-items: center;
    transition: all .3s ease;

    &:hover{
        font-size: 1.2em;
        color: #9f9989;
    }
}

.sidenav.open {
    left: 0;
}