<div class="container">
    <app-header></app-header>

    <main>
        <h1>Nossos livros disponíveis para você</h1>

        <div class="main-content">
            @for (book of bookArray; track book) {
                <app-book-card
                    [name]="book.name"
                    [description]="book.description"
                    [imageURL]="book.image_url"
                ></app-book-card>
            }
        </div>

        <div class="conheca">
            <h2>Gostou dos nossos livros?</h2>
            <p>Temos esses e muitos outros! Venha até nossa biblioteca e conheça as opções.</p>

            <div class="info">
                <div class="emprestimos">
                    <span>Você pode pegar até 5 livros</span>
                    <span>O prazo para devolução é de 7 dias úteis</span>
                    <span>Renove seu empréstimo até 4x e aproveite a leitura!</span>

                    <div>
                        <p>Ficamos localizados na Av. Reitor Joaquim Amazonas - Cidade Universitária, Recife - PE, 50740-570</p>
                    </div>

                    <div class="events">
                        <app-event-carousel></app-event-carousel>
                    </div>
                </div>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.1650340344095!2d-34.95400422641487!3d-8.051028080419544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1be023882dd9%3A0xe8c3a1cdeddd43f!2sCentral%20Library!5e1!3m2!1sen!2sbr!4v1751038003720!5m2!1sen!2sbr"
                    width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>
