@import '../../shared/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 252, 254);

    header {
        height: 140px;
        background-color: #244B4F;
        flex-shrink: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 20px;

        .content {
            flex: 1;
            padding: 0 20px;
            overflow-y: auto;
        }
    }
}