<mat-accordion class="custom-panel">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{nome_completo}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="info">
            <p>
                <span class="title">
                    <i class="far fa-envelope" title="Icon de e-mail"></i>
                </span> {{email}}
            </p>
            <p>
                <span class="title">
                    <i class="fas fa-phone" title="Icon de telefone"></i>
                </span> {{numero_contato | phone }}
            </p>
        </div>

        <hr>

        <div class="book-section">
            @if (livros_emprestados.length > 0) {
            <h3>{{ livros_emprestados[livroAtual].nome | title }}</h3>
            <p>Data do Empréstimo: {{ livros_emprestados[livroAtual].data_emprestimo | date: 'dd/MM/yyyy' }}</p>
            
            @if (diasRestantes[livroAtual] < 0) { 
                <p>Empréstimo vencido em {{ livros_emprestados[livroAtual].data_devolucao |date:'dd/MM/yyyy' }}</p>
                <p class="text-vencimento">{{diasRestantesPositive[livroAtual]}} dia(s) em atraso.</p>
                <p>Taxa a pagar {{valorTaxa[livroAtual] | currency : 'BRL'}}</p>
                } @else if (diasRestantes[livroAtual] === 0) {
                    <p class="alert lastday">Último dia para a devolução do livro</p>
                } @else {
                    <p class="alert ok">{{ diasRestantes[livroAtual] }} dias restantes</p>
                }
            
                @if (livros_emprestados.length > 1) {
                    <div class="btn-paginator">
                        <button (click)="voltar()" [disabled]="livroAtual === 0">◀</button>
                        <button (click)="avancar()" [disabled]="livroAtual === livros_emprestados.length - 1">▶</button>
                    </div>
                }
            }
        </div>
    </mat-expansion-panel>
</mat-accordion>